.guesses-container{
  display: flex;
  justify-content: space-around;
  width: 100vw;
}
.separator{
  height:100vh;
  width: 3px;
  background-color: black;
}
.guess-container{
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}
form{
  margin:10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
form input.input-guess{
  max-width: 200px;
  width: 40vw;
  margin:0 calc(50vw -100px);
  padding: 8px 5px;
  font-size: 1.2em;
}
form button{
  padding: 7px 6px;
  font-size: 1.1em;
  background-color: transparent;
  border: 1px black solid;
  margin: 10px 0;
  align-self:center;
}
.pseudo-input{
  max-width: 200px;
  width: 40vw;
  margin:0 calc(50vw -100px);
  padding: 8px 5px;
  font-size: 1.2em;
}
.game-begin-container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.game-begin-container>{
  margin: 10px 0;
}
.end-game .menu{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.end-game .menu button{
  margin: 10px 0;
  padding: 7px 6px;
  max-width: 200px;
  width: 40vw;
  font-size:1.1em;
}
.end-game .menu .winner{
  font-size: 2em;
  text-transform: capitalize;
}
.main-menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  width: 30vw;
  align-items: center;
  margin:15vh 30vw;
  padding:50px;
  border:1px black solid;
}
.main-menu button {
  padding: 7px 6px;
  font-size:1.1em;
  background-color: transparent;
  border: 1px solid black;
  width: 40vw;
  max-width: 200px;
  justify-content: center;
  margin: 20px 0;
}
.rules-container{
  width: 60vw;
  height: 70vh;
  margin:10vh 20vw;
}
.rules-container{
  border: 1px black solid;
}
.rules-container ul{
  display:flex;
  flex-direction: column;
  font-size: .9em;
}
.rules-container ul li{
  list-style:none;
  margin: 5px 3px;
}
.rules-container h1{
  margin: 0 30px;
}
.lobby{
  display: flex;
  flex-direction: column;
  padding:20px 10px;
  align-items: flex-start;
}
.lobby button{
  border: 1px black solid;
  background-color: transparent;
  font-size: 1.1em;
  padding: 6px 7px;
}
.lobby .game-lobby{
  display: flex;
  flex-direction: column;
  height: 90px;
  justify-content: space-around;
  border-bottom: solid 1px black;
}
.lobby .game-lobby button ,.lobby .game-lobby input {
  background-color: transparent;
  border: 1px black solid;
  padding:6px 7px;
  font-size: 1.1em;
}
.lobby form{
  width:150px;
  margin-left:calc(50vw - 75px) ;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:flex-start;
}
.lobby form input{
  margin:15px 2px;
}
.lobby form button:first-child{
  border: none;
  padding: 0;
}
.lobby input[type=search]{
  padding: 10px;
  font-size:1.1em;
  width: 250px;
  margin: 10px calc(50vw - 125px);
}
.message{
  font-size: 1.1em;
  width: 300px;
  text-align: center;
  margin:calc(50vw-150px);
}
.error-msg{
  color: red;
  font-size: .5em;
  align-self: center;
}